RESEND_API_KEY=re_your_api_key_here
ORDER_EMAIL=cromwellorders@iddoors.co.nz
FROM_EMAIL=portal@iddoors.co.nz
PORT=3000
TURSO_DATABASE_URL=file:local.db
TURSO_AUTH_TOKEN=
ADMIN_PASSWORD=iddoors-admin
VITE_ADMIN_PASSWORD=iddoors-admin
